html{
}

body{
    margin-top: 50px;
}

pre{
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
}



/*........HEADER..................*/

.common_header{
    top:0;
}
#loginModal .modal-body .input-group{
    margin-bottom: 20px;
    margin-left: 120px;
}

.modal-error{
    background-color: #F2BDB1;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color: #CE6D6D;

}


/*............PROBLEM................*/
.wrapper{
    width: 100%;
}
.wrapper #problem-container{
    text-align: center;
}
.wrapper #problem-container .badge{
    vertical-align: top;
}

.wrapper #problem-container .limit{
    width: 100%;
    padding: 20px 0px;
    background-color: #F8F8F8;
    border-radius: 5px;
}

.wrapper #problem-container .problem-bar{
    padding-top: 20px;
}

.wrapper #problem-container .problem-bar button{
    width: 80px;
}
.wrapper #problem-container .problem-tag{
    padding-top:20px;
    text-align: left;
}
.wrapper #problem-container .problem-content{
    text-align: left;
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 15px 15px;
}

/*............PROBLEMLIST..................*/
#problem-list .row{
    margin-top: 30px;
}

#problem-list .row .navbar-form{
    margin: 20px 0px; 
    padding:0;
}
#problem-list .row nav{
    float:right; 
    padding:0px 20px;
}


.wait-info{
    display: none;
    position: absolute;
    top: 220px;
    width: 100%;
    height: 80px;
    z-index: 10;
    background-color: rgba(248,248,248,0.8);
}
.wait-info h1{
    display: block;
    position: relative;
    left:50%;
    
}

/*..................CONTEST....................*/
#contest .contest-title{
    text-align: center;
}

#contest .progress{
    margin-bottom: 0;
}

#contest .progress-info{
    margin-bottom: 20px;
}

#contest #contest-problem .problem-table{
    margin-top: 10px;
}
#contest #contest-problem .contest-info{
    margin-top: 30px;
    background-color: #F8F8F8;
}


/*.................STATUS.................*/
#status-list .submit-search{
    margin-top: 20px;
}

#status-list .separate-page{
    float: right;
}


/*.................SUBMIT.................*/

#submit form.submit {
	width: 100%;
	max-width: 600px;
	margin: 10px auto 50px;
}

#submit form.submit fieldset {
	width: 50%;
	margin: auto;
}

#submit form.submit textarea {
	display: block;
	width: 100%;
	height: 400px;
}

#btn-div {
	text-align: center;
	margin: 0 auto 18px;
}


/*..............EDIT-PROFILE..................*/

#editprofile form {
	width: 100%;
	max-width: 600px;
	margin: 20px auto 50px;
}

/*..............VIEW-PROFILE..................*/

#viewprofile li{
	width: 90%;
	margin: 20px auto;
	font-size: 18px;
}

.problem-block a{
	margin: 3px auto;
	font-size: 14px; 
}

/*..............SHOW-CODE..................*/

#showcode .codebox{
	width: 90%;
	margin: 5px auto;
}


/*..............FOOTER..................*/
.footer{
    width: 100%;
    height: 100px;
    text-align: center;
}

.footer .footer-info{
    margin-top: 20px;
}
