html{
    height: 100%;
}

body{
    height: 100%;
}

pre{
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
}

ul{
    list-style-type: none;
}


.wrapper{
    padding-top: 50px;
    width: 100%;
    min-height: 100%;
    margin-bottom: -100px;
}



/*........HEADER..................*/

.common_header{
    top:0;
}
#loginModal .modal-body .input-group{
    margin-bottom: 20px;
    margin-left: 120px;
}

.modal-error{
    background-color: #F2BDB1;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color: #CE6D6D;
}



/*..............FOOTER..................*/
.footer{
    width: 100%;
    height: 100px;
    text-align: center;
}

.footer .footer-info{
    position: relative;
    top:40px;
}


/*............PROBLEM................*/

#problem-container{
    text-align: center;
}
#problem-container .badge{
    vertical-align: top;
}

#problem-container .limit{
    width: 100%;
    padding: 20px 0px;
    background-color: #F8F8F8;
    border-radius: 5px;
}

#problem-container .problem-bar{
    padding-top: 20px;
}

#problem-container .problem-bar button{
    width: 80px;
}
#problem-container .problem-tag{
    padding-top:20px;
    text-align: left;
}
#problem-container .problem-content{
    text-align: left;
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 15px 15px;
}

/*............PROBLEMLIST..................*/
#problem-list .row{
    margin-top: 30px;
}

#problem-list .row .navbar-form{
    margin: 20px 0px; 
    padding:0;
}
#problem-list .row nav{
    float:right; 
    padding:0px 20px;
}


.wait-info{
    display: none;
    position: fixed;
    top: 40%;
    width: 100%;
    height: 80px;
    z-index: 10;
    background-color: rgba(248,248,248,0.8);
}
.wait-info h1{
    display: block;
    position: relative;
    left:50%;
    
}

/*..................CONTEST....................*/
#contest .contest-title{
    text-align: center;
}

#contest .progress{
    margin-bottom: 0;
}

#contest .progress-info{
    margin-bottom: 20px;
}

#contest #contest-problem .problem-table{
    margin-top: 10px;
}
#contest #contest-problem .contest-info{
    margin-top: 30px;
    background-color: #F8F8F8;
}


/*.................STATUS.................*/
#status-list .submit-search{
    margin-top: 20px;
}

#status-list .separate-page{
    float: right;
}

/*.................SUBMIT.................*/

#submit form.submit {
	width: 100%;
	max-width: 600px;
	margin: 100px auto 50px;
}

#submit form.submit fieldset {
	width: 50%;
	margin: auto;
}

#submit form.submit textarea {
	display: block;
	width: 100%;
	height: 400px;
}

#btn-div {
	text-align: center;
	margin: 0 auto 18px;
}

/*.................RANK.................*/
#rank-list .submit-search{
    margin-top: 20px;
}

#rank-list .separate-page{
    float: right;
}



/*..............SHOW-CODE..................*/

#showcode .codebox{
	width: 90%;
	margin: 0px auto;
    height: auto;
}

#showcode .compile-info{
	width: 90%;
	margin: 20px auto;
    height: auto;
}

/*..............VIEW-PROFILE..................*/

#viewprofile .div-profile {
	margin-top: 50px;
}


#viewprofile .div-profile .div-canvas {
	width: 80%;
	height: 80%;
}

#viewprofile .div-profile .form-horizontal #view-description{
    border-radius: 5px;
}

#viewprofile .div-profile .edit-button button{
    margin: 0 5px 10px 5px;
    min-width: 80px;
}

#viewprofile .div-profile .edit-button .save-info{
    margin:0 auto;
    width:50%;
}


#viewprofile #canvas{
	width:100%;
	height:100%;
}

#viewprofile .problem-block a{
	margin: 3px 3px;
	font-size: 14px; 
}


/*..................STATISTICS......................*/
#statistics .problem-rank h2{
    text-align: center;
    font-family:monospace;
    color: #2F7DDB;
}

#statistics  .div-canvas{
    margin-top: 50px;
}

#statistics  #canvas{
	width:100%;
	height:100%;
}

#statistics .data h3{
    text-align: center;
}

#statistics .data ul li{
    color: #B01414;
    font-size: 20px;
    margin-left: 30%;
}

/*.................DISCUSS................................*/
#discuss .discuss-header h2{
    text-align: center;
    font-family:monospace;
    color: #2F7DDB;
}

#discuss .discuss-body{
    background-color: #F8F8F8;
    padding: 40px 40px 40px 0px;
    font-size: 16px;
    color: #77778F;
}

#discuss .discuss-body .content{
    color: #2F7DDB;
}


#discuss .discuss-body .username a{
    color: black;
    font-size: 14px;
    font-weight: bolder;
}

#discuss .discuss-body .time{
    font-size: 14px;
}


/*...............BACKEND.............................*/
#backend #view-problem .row{
    margin-top: 30px;
}

#backend #view-problem.row .navbar-form{
    margin: 20px 0px; 
    padding:0;
}
#backend #view-problem .row nav{
    float:right; 
    padding:0px 20px;
}


#backend #view-status .submit-search{
    margin-top: 20px;
}

#backend #view-status .separate-page{
    float: right;
}

